# Build files
target/
bin/

# IDE files
bungee/.project
bungee/.classpath
bungee/.settings
bungee/target

bukkit/.project
bukkit/.classpath
bukkit/.settings
bukkit/target

.project
.classpath
.settings