name: Delete old workflow runs

on:
  schedule:
    - cron: '0 10 * * 0,3'
    # Run weekly, at 10:00 UTC on sunday and wednesday, https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule

# Grant permission for everything for this job
permissions: write-all

jobs:
  del_runs:
    runs-on: ubuntu-22.04
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 2
